.git
/.env.local
**/.env.*
**/.app_env*
**/*.log
**/._*
**/.DS_Store
**/.gitignore
**/.gitattributes
**/Thumbs.db
**/*.md
**/.dockerignore
Dockerfile*
docs/
node_modules/
public/build/
public/bundles/
var/
vendor/
