{% extends 'admin.html.twig' %}

{% block content_title %}Import scheduled{% endblock %}

{% block content %}
    <div class="content">
        Now go to quickbooks and run WebConnector
    </div>
{% endblock %}
