{% extends 'admin.html.twig' %}

{% block content_title %}Documentation{% endblock %}

{% block content %}
<div class="content">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="content-header"><h3>Connect EasyQuickImport to QuickBooks Desktop</h3></div>
                <div class="content-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6kVJrthCQr0" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col">
                <div class="content-header"><h3>How to Backup and Restore in QuickBooks Desktop</h3></div>
                <div class="content-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XWycpN8dcBU" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col">
                <div class="content-header"><h3>Import invoices from Excel into QuickBooks Desktop</h3></div>
                <div class="content-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZKe002JUIww" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col">
                <div class="content-header"><h3>Import bills and vendors from Excel into QuickBooks Desktop</h3></div>
                <div class="content-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vcSeREomzuE" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col">
                <div class="content-header"><h3>Import transactions from Excel into QuickBooks Desktop</h3></div>
                <div class="content-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-hmhxs72W1E" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col">
                <div class="content-header"><h3>Import multicurrency transactions from Excel into QuickBooks
                        Desktop</h3></div>
                <div class="content-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NvMpb3wVIXc" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
